In [1]:
from datetime import datetime
import pandas as pd
import sys
from dateutil.relativedelta import relativedelta
import datetime
import config
import plotly.graph_objects as go
import numpy as np
from dbcontext import Context
from jupyter_service import JupyterService
from dash import Dash, dcc, html, callback, Output, Input, State
import dash
from iscri_dash import IscriDash
print(dash.__version__)

2.18.2
2.18.2

In [2]:
d = IscriDash()

css = {"font-family": "Arial, Helvetica, sans-serif"}

app = Dash()
app.layout = ([
    html.Div([
        html.Div('ISCRI Dash Demo'),
        dcc.Dropdown(d.country_df.iso3, id='country1-dd', value="USA"),
        dcc.Dropdown(d.country_df.iso3, id='country2-dd', value="CHN"),
        html.Button('Submit', id='submit-val', n_clicks=0),
        html.Div(dcc.Graph(figure=d.fig, id="myfigure"), id="div-figure"),
        html.Div(id='debug')
        ],
        style=css
    )
    ])

@callback(
    Output("debug", "children", allow_duplicate=True),
    Input('country1-dd', 'value'),
    prevent_initial_call=True
)
def country1_update(value):
    actor1_code = value
    return f'Country1: {value}'

@callback(
    Output("debug", "children", allow_duplicate=True),
    Input('country2-dd', 'value'),
    prevent_initial_call=True
)
def country2_update(value):
    actor2_code = value
    return f'Country2: {value}'

@callback(
    Output('myfigure', 'figure', allow_duplicate=True),
    Input('submit-val', 'n_clicks'),
    State("country1-dd", "value"),
    State("country2-dd", "value"),
    prevent_initial_call=True
)
def button_clicked(n_clicks, value1, value2):
    d.actor1_code = value1
    d.actor2_code = value2
    d.get_df_by_code(value1, value2)
    if len(d.df) > 0:
        d.get_figure()
        return d.fig
    else:
        d.empty_figure()
        return d.fig

SELECT * FROM iscri WHERE actor1_code = 'USA' AND actor2_code = 'CHN' order by year, month
select * from country

In [3]:
app.run()

SELECT * FROM iscri WHERE actor1_code = 'GBR' AND actor2_code = 'CYM' order by year, month
SELECT * FROM iscri WHERE actor1_code = 'GBR' AND actor2_code = 'CYM' order by year, month
SELECT * FROM iscri WHERE actor1_code = 'GBR' AND actor2_code = 'CYM' order by year, month
SELECT * FROM iscri WHERE actor1_code = 'GBR' AND actor2_code = 'CYM' order by year, month
SELECT * FROM iscri WHERE actor1_code = 'TCA' AND actor2_code = 'CYM' order by year, month
SELECT * FROM iscri WHERE actor1_code = 'TCA' AND actor2_code = 'CYM' order by year, month